{% extends 'base.html' %}

{% block content %}
{{ super () }}

<div class="container">
<form method="post">
{{ form.hidden_tag() }}
<div class="col-4">
{{ form.title.label() }} {{ form.title(class_='form-control') }}
{{ form.type.label }} {{ form.type(class_='form-control') }}
{{ form.year.label() }} {{ form.year(class_='form-control') }}
{{ form.rating.label() }} {{ form.rating(class_='form-control') }}
{{ form.genre.label() }} {{ form.genre(class_='form-control') }} <br>
{{ form.submit(class_='btn btn-primary') }}
</div>
</form>
 </div>
<div class="container">
  <div class="row">
      <p>Результатов: {{search|length}}</p>
{%- for line in search %}

    <div class="col-lg-4 col-lg-push-4 col-md-6" style="margin-top: 20px;"><p>{{ line.title -}}</p>
    <p>{{ line.type -}}</p>
    <p>{{ line.release_year -}}</p>
    <p>{{ line.rating -}}</p>
    <p>{{ line.director -}}</p>
    <p>{{ line.country -}}</p>

        <hr>
    </div>

{% endfor %}

  </div>
</div>


 {{ search.date_added }}

{% endblock %}